{% extends 'account/base.html' %}
{% block primary %}
<table>
    <tr class="block-alignment">
        <td><h1>Забыли пароль?</h1></td>
    </tr>
    <tr>
        <td>
            <form class="blockin-join" action="" method="post">
                {% csrf_token %}
                <table>
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                    <tr>
                        <td>
                            <p>Укажите свой email, который был указан при регистрации на сайте, для получения информации о восстановлении пароля.</p>
                        </td>
                    </tr>
                    <tr class="block-alignment">
                        <td>
                            <label for="email">Email:</label>
                        </td>
                    </tr>
                    <tr class="block-alignment">
                        <td>
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr class="block-alignment">
                        <td>
                            <br>
                            <input type="submit" class="btn btn-outline-dark" value="Reset password" />
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
{% endblock primary %}