{% extends "index.html" %}
{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'scripts/node_modules/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/calculate.js' %}"></script>
{% endblock scripts %}
{% block content %}
<div class="container">
  <div class="row block-alignment">
    <h1>РАСЧЁТ АННУИТЕТНОГО ПЛАТЕЖА</h1>
  </div>
  <hr>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-3">
        <label for="creditAmount">Сумма кредита:</label>
        {{ form.creditAmount }}
      </div>
      <div class="col-3">
        <label for="creditRate">Процентная ставка:</label>
        {{ form.creditRate }}
      </div>
      <div class="col-3">
        <div id="termMonths">
          <label for="creditPeriod">Срок кредита (в месяцах):</label>
        </div>
        <div id="termDays" class="active">
          <label for="creditPeriod">Срок кредита (в днях):</label>
        </div>
        {{ form.creditPeriod }}
      </div>
      <div id="hide" class="col-3 active" name="step">
        <label for="paymentStep">Шаг платежа (в днях):</label>
        {{ form.paymentStep }}
      </div>
      <div class="col-3">
        <div class="rad">
          <input class="form-check-input" type="radio" name="rate" id="rateYear" value="false">
          <span>в год &emsp;</span>
          <input class="form-check-input" type="radio" name="rate" id="rateDay" value="false">
          <span>в день</span><br />
        </div>
        <input type="submit" name="send" value="Рассчитать" class="btn btn-info btn-size">
      </div>
    </div>
  </form>
</div>
{% endblock content%}